<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="PhabricatorStagingMaterial" version="1">
    <about>
        <name>Phabricator Staging Material Plugin</name>
        <version>0.9</version>
        <target-go-version>17.4.0</target-go-version>
        <description>Plugin that polls a Phabricator staging area for new revisions</description>
        <vendor>
            <name>Krzysztof Szatan</name>
            <url>https://github.com/kszatan/gocd-phabricator-staging-material</url>
        </vendor>
    </about>
</go-plugin>